/* general layout */
body{
    font-family: sans-serif;
    background: white;
    
}
html{
    font-family: sans-serif;
}
header{
    background-color: rgb(42, 94, 232);
}

.dashed{
    border: #222 dashed 2px;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.minHeight{

    min-height: 300px;
    height: fit-content;
}

/* flex containers */
.foot-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.head-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(42, 94, 232) ;

}

.jumbo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    
    
}

h1{
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
}
p{
    text-align: center;
    color: white;
    font-size: large;
}

.jumbo{
    background-image: url(../img/jumbo.png);
    background-size: cover;

    
}
.menu{  
    width: 70%;
    margin: 0 auto;
}




.split{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rev{
    flex-direction: row-reverse;
}


nav>a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    
}



.button{

    border-style: none;
    border-radius: 40px;
    background-color: white;
    font-weight: 500;
    
}

.bottone1{

    padding: 16px 32px 16px 32px;

}

.bottone2{
    padding: 16px 32px 16px 32px;
    color: white;
    background-color: #222;
}


.w-40>h1{
    color: black;

}

.w-40>p{
    padding: 1em;
    font-size: 30px;
    color: black;
}